   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   
   .navbar {
       margin-left: 8px;
       margin-top: 3px;
       position: absolute;
       top: 5px;
       left: 3px;
       bottom: 0;
   }
   
   .canvas {
       position: absolute;
       top: 0;
       left: 0;
       right: 300px;
       bottom: 0;
       background: #ccc;
       overflow: auto;
   }
   
   body {
       margin-left: 8px;
       margin-top: 3px;
       height: 2rem;
       width: 2rem;
       background-color: #fff;
       background-image: url('background.png');
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-position: center;
       background-size: 300px;
   }
   
   .draggable {
       height: 5rem;
       width: 5rem;
       display: flex;
       align-items: left;
       justify-content: left;
       font-size: 4rem;
       margin: 0rem 0.5rem;
       cursor: move;
       transition: opacity 0.2s;
   }
   
   .draggable:hover {
       opacity: 0.5;
   }
   
   .droppable {
       height: 30rem;
       width: 30rem;
       margin: 1rem auto;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       text-align: center;
       font-size: 4rem;
       font-weight: bold;
       background-color: #fff;
       border: 3px dashed #111;
       transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
   }
   
   .droppable.droppable-hover {
       border-width: 5px;
       transform: scale(1.1);
   }
   
   .canvas {
       position: absolute;
       top: 0;
       left: 0;
       right: 1400px;
       bottom: 0;
       background: rgb(255, 255, 255);
       overflow: auto;
   }
   
   .navbar {
       padding: 5px;
   }
   
   .navbar[align=center]>* {
       display: block;
       cursor: pointer;
       width: 95%;
       padding: 5px;
       color: rgb(255, 255, 255);
       text-align: center;
   }
   
   .vl {
       width: 3px;
       background-color: gray;
       height: 712px;
       position: absolute;
       left: 9%;
   }